<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
     <svg xmlns="http://www.w3.org/2000/svg" width="64" height="40" viewBox="0 0 64 64"><title>flash-21</title><g fill="#111111"><path fill="#111111" d="M55,25H35.181l3.806-22.835c0.075-0.449-0.162-0.891-0.577-1.077c-0.414-0.186-0.902-0.068-1.188,0.285 l-29,36c-0.242,0.3-0.29,0.712-0.123,1.059C8.264,38.779,8.615,39,9,39h19.819l-3.806,22.835c-0.075,0.449,0.162,0.891,0.577,1.077 C25.723,62.972,25.862,63,26,63c0.296,0,0.585-0.131,0.779-0.373l29-36c0.242-0.3,0.29-0.712,0.123-1.059 C55.736,25.221,55.385,25,55,25z"></path></g></svg>
            <%= link_to 'Foodlog' , root_path , class:'navbar-brand'%>
            
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <%if user_signed_in? %>
       <li class="nav-item">
        <%= link_to  "Sign out", destroy_user_session_path , method: :delete , class:'nav-link active' %>  
        </li>
        <li class="nav-item">
        <%= link_to  "Edit Profile", edit_user_registration_path , class:'nav-link active' %>  
        </li>
        <% else%>
        <li class="nav-item">
        <%= link_to  "Sign In", new_user_session_path , class:'nav-link active' %>  
        </li>
      <li class="nav-item">
        <%= link_to  "Sign Up", new_user_registration_path , class:'nav-link active' %>  
        </li>
        <%end%>
        
      </ul>
    </div>
    <%= link_to  "Create New Entry", new_entry_path, class:'btn btn-secondary' %>
  </div>
</nav>


