<!DOCTYPE html>
<html>
  <head>
    <title>Foodlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body> 
  <%= render "shared/header" %> 
  <% if notice.present? %>
  <%= render "shared/alerts"%>
  <% end %>
  <% if alert.present? %>
  <%= render "shared/alerts"%>
  <% end %>
   <div class="container">
    <%= yield %>
   <br/>
   <%= render  "shared/footer" %>
  </div>
  
    </body>
</html>
